# Ignorer les fichiers d'état (qui contiennent ton mdp en clair !)
*.tfstate
*.tfstate.backup

# Ignorer le dossier des plugins
.terraform/

# Ignorer les fichiers de variables secrètes (qu'on va créer après)
*.tfvars